body{
  background: royalblue;
  font-family: 'Lato', sans-serif;
  text-align: center
}

.jumbotron{
  background: lightgreen
}

#scoreZone{
  background:white
}

.font-weight-bold{
  font-size: 18pt
}

#lifeTracker-link{
font-size: 24pt
}

#player1{
  color: red;
}

#player2{
  color: blue;
}

#player3{
  color: green;
}

#player4{
  color: orange;
}

#player5{
  color: purple;
}

#player6{
  color: brown
}

#player7{
  color: gold
}