body{
  background: royalblue
}

.jumbotron{
  background: lightsteelblue
}

#scoreZone{
  background:white
}

#player1{
  color: red;
}

#player2{
  color: blue;
}

#player3{
  color: green;
}

#player4{
  color: orange;
}

#player5{
  color: purple;
}

#player6{
  color: brown
}

#player7{
  color: gold
}