body{
  background: royalblue
}

.jumbotron{
  background: lightsteelblue
}

#scoreZone{
  background:white
}

#player1{
  color: red;
  background: teal
}

#player2{
  background: blue;
  color: white
}